
html{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
}
.header{
    width: 100%;
    height: 50px;
    margin: 0;
}
.logo-title{
    height: 50px;
}
.logo-accueil{
    position: absolute;
    top: 10px;
    right: 15px;
    width: 30px;
    height: 30px;
}
.menu-covoit{
    padding: 0;
    height: 90vh;
}
.choix{
    text-align: center;
    color: white;
    display: flex;
}

.choix-content{
    margin: auto;
}
.choix h3 {
    font-size: 20px;
    margin-top: 10px;
}

.proposer{
    background-color: #1E799C;
    margin-bottom: 6px;
    height: 50%;
}
.trouver{
    background-color: #1E799C;
    height: 50%;
}
.logo-menu{
    width: 50px;
    height: 50px;
}
a{
    text-decoration: none;
}

/*========================formulaire==============================*/


.proposer-content{
    background-color: #1E799C;
    padding: 20px 20px;
    height: 100%;
}

#date{
font-size: 12px;
}
.proposer-content label, p{
    color: white;
    text-shadow: 0 0 1px black;
    font-size: 12px;
    font-weight: bold;
}

.proposer-content input, select{
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 3px;
    border-bottom: 1px solid #D57223;
    background-color: #1E799C;
    text-shadow: 0 0 1px black;
}

.proposer-content input{
    padding: 3px;
    color: white;
    font-size: 12px;
}
.proposer-content input:focus{
    background-color: #68A4BC;
}

#nbdispo, #type, .departement, #atterro, #deco {
    background-color: white;
    color: #1E799C;
}

#atterro, #deco{
    width: 100%;
}


.proposer-content select, #nbdispo{
    font-size: 12px !important;
    border: none;
    text-shadow: none;
    padding: 3px;
}

#nbdispo{
    padding: 3px 3px 3px 7px;
    width: 35px;
}

#validate-form{
    background-color: #D57223;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    margin-bottom: 0 !important;
    border: 1px solid white;
}

.form-details, .form-where, .form-users{
    margin: 20px 0;
}

#nom, #mail, #tel{
    width: 100%;
}
.proposer-content p{
    padding: 0;
    margin: 0;
}
/*======================VUE TROUVER=============================*/

.uniqcovoit{
    width: 100%;
    padding: 20px 20px;
    background-color: #1E799C;
    color: white;
    margin-bottom: 7px;
}

.return-msg{
    text-align: center;
    width: 100%;
}
.return-msg-success{
    color: yellowgreen;
}
.return-msg-ko{
    color: darkred;
}