<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../style/style.css">
    <script src="../lib/jquery.js"></script>
    <script src="../js/script.js"></script>
    <title>Covoiturage</title>
</head>
<body>

<div class="header">
    <img src="../lib/img/title.png" class="logo-title" alt="logo covoiturage">
    <a href="#"><img src="../lib/img/home.ico" class="logo-accueil"  alt="logo accueil"></a>
</div>

<div class="content">


    <div class="menu-covoit">
        <a href="proposer.html">
            <div class="choix proposer">
                <div class="choix-content">
                    <img src="../lib/img/add.png" class="logo-menu" alt="logo covoiturage">
                    <h3>Proposer</h3>
                </div>
            </div>
        </a>

        <a href="trouver.html">
            <div class="choix trouver">
                <div class="choix-content">
                    <img src="../lib/img/find.png" class="logo-menu" alt="logo covoiturage">
                    <h3>Trouver</h3>
                </div>
            </div>
        </a>
    </div>

</div>

</body>
</html>