<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../style/style.css">
    <script src="../lib/jquery.js"></script>
    <script src="../js/script.js"></script>
    <title>Trouver</title>
</head>
<body>

<!-- =====================BLOC HEADER PRESENT SUR CHAQUE VUES ==============================-->
<div class="header">
    <img src="../lib/img/title.png" class="logo-title" alt="logo covoiturage">
    <a href="#"><img src="../lib/img/home.ico" class="logo-accueil"  alt="logo accueil"></a>
</div>
<!-- =================================== ===================================================-->

<!-- ==================================VUE TROUVER ========================================-->

<div class="trouver-content">

    <h1>Trouver</h1>

</div>

</body>
</html>